/*!
 * RFW - RFW v0.1.0 (https://www.rapefreeworld.com)
 * Copyright 2013-2023 Paul Wathome
 * Licensed under MIT (https://mit-license.org)
 */

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #FA7834;
  border: 1px solid #FA7834;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-brand img {
  height: 4.5rem;
  border-style: none;
  vertical-align: middle;
}

@media (min-width: 350px) {
  #mainNav .navbar-brand img {
    height: 3.5rem;
  }
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
}

#mainNav .nav-link {
  -webkit-transition: none;
  transition: none;
  padding: 2rem 1.5rem;
  color: white;
  font-weight: bold;
}

#mainNav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .nav-link:active {
  color: white;
}

#mainNav.navbar-shrink {
  background-color: #fff;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #161616;
}

#mainNav.navbar-shrink .nav-link {
  color: #161616;
  padding: 1.5rem 1.5rem 1.25rem;
  border-bottom: 0.25rem solid transparent;
}

#mainNav.navbar-shrink .nav-link:hover {
  color: #FA7834;
}

#mainNav.navbar-shrink .nav-link:active {
  color: #dc4f05;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #FA7834;
  outline: none;
  border-bottom: 0.25rem solid #FA7834;
}

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(0%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/landing-img.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 0%, #161616 100%), url("../img/landing-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 350px) {
  .masthead {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #FA7834;
}

.btn-primary:hover {
  background-color: #f55806;
}

.btn-primary:focus {
  background-color: #f55806;
  color: white;
}

.btn-primary:active {
  background-color: #dc4f05 !important;
}

.about-section {
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.services-section {
  padding-top: 3rem;
}

.services-section .featured-text {
  padding: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .services-section .featured-text {
    padding: 0 0 0 1rem;
    border-left: 0.5rem solid #FA7834;
  }
}

.services-section .service-text {
  padding: 3rem;
  font-size: 150%;
}

@media (min-width: 992px) {
  .services-section .service-text {
    padding: 5rem;
  }
  .services-section .service-text hr {
    border-color: #FA7834;
    border-width: .25rem;
    width: 30%;
  }
}

.services-section figure {
  margin: 0px 0px !important;
}

.services-section #feature-list li {
  list-style-type: circle;
}

#founder-name {
  color: #07AFF1;
}

#team {
  padding: 3rem 3rem 1rem 3rem;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  display: block;
  width: 70%;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

/*======================================
//--//-->   CONtaCT FORM
======================================*/
.contact-section {
  padding: 5rem 0 0;
}

#sendmessage {
  color: #FA7834;
  border: 1px solid #FA7834;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/*======================================
//--//-->   BUTTON
======================================*/
.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #FA7834;
  color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.button-a {
  background-color: #FA7834;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: .9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
  .card-blog {
    margin-bottom: 3rem;
  }
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

/*------/ Socials /------*/
.socials ul li {
  display: inline-block;
  font-size: 2.8rem;
  margin: 0 25px 0 0;
  color: #07AFF1 !important;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #FA7834;
  margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #FA7834;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*------/ Ul resect /------*/
.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #FA7834;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 0 0 5px #FA7834;
  box-shadow: 0 0 0 5px #FA7834;
  display: block;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #FA7834;
}

a:focus, a:hover {
  text-decoration: none;
  color: #c34605;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #FA7834 !important;
}

.text-primary {
  color: #FA7834 !important;
}

footer {
  padding: 5rem 0;
}
