.services-section {
  padding-top: 3rem;
  .featured-text {
    padding: 2rem;
    font-size: 1.5rem;
    @media (min-width: 992px) {
      padding: 0 0 0 1rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .service-text {
    padding: 3rem;
    font-size: 150%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
  figure {
    margin: 0px 0px !important;
  }
  #feature-list li {
    list-style-type: circle;
  }
}
