#founder-name {
  color: $secondary;
}
#team {
  padding: 3rem 3rem 1rem 3rem;
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    display: block;
    width: 70%;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
